<h1>New Order</h1>

<% if !!flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p> <br>
  <% end %>
<% end %>

<%= form_with model: @order do |f| %>

  <p>
    <%= f.text_field :first_name, placeholder: 'First Name' %>
    <%= f.text_field :last_name, placeholder: 'Last Name' %>
  </p>

  <p>
    <%= f.text_field :phone_number, placeholder: 'Phone Number' %>
    <%= f.text_field :email, placeholder: 'Email' %>
  </p>
 
  <p><%= f.select :service_type, 
    options_for_select(@order.class::ALLOWED_SERVICE_TYPES),
    include_blank: 'Choose Pick Up or Delivery' %></p>

  <p>
    <%= f.label :service_date, 'Select Service Date:' %>
    <%= f.date_select :service_date, discard_year: true %>
  </p>

  <p>
    <%= f.label :beverages %><br>
    <%= f.text_area :beverages, size: '150x6' %>
  </p>

  <p>
    <%= f.label :bakery %><br>
    <%= f.text_area :bakery, size: '150x6' %>
  </p>

  <p>
    <%= f.label :canned_goods %><br>
    <%= f.text_area :canned_goods, size: '150x6' %>
  </p>

  <p>
    <%= f.label :dairy %><br>
    <%= f.text_area :dairy, size: '150x6' %>
  </p>

  <p>
    <%= f.label :dry_goods_and_baking %><br>
    <%= f.text_area :dry_goods, size: '150x6' %>
  </p>

  <p>
    <%= f.label :frozen_foods %><br>
    <%= f.text_area :frozen_foods, size: '150x6' %>
  </p>

  <p>
    <%= f.label :meat_and_deli %><br>
    <%= f.text_area :meat, size: '150x6' %>
  </p>

  <p>
    <%= f.label :produce %><br>
    <%= f.text_area :produce, size: '150x6' %>
  </p>

  <p>
    <%= f.label :cleaning_supplies %><br>
    <%= f.text_area :cleaning, size: '150x6' %>
  </p>

  <p>
    <%= f.label :paper_products %><br>
    <%= f.text_area :paper_goods, size: '150x6' %>
  </p>

  <p>
    <%= f.label :personal_care %><br>
    <%= f.text_area :personal_care, size: '150x6' %>
  </p>

  <p>
    <%= f.label :other_items %><br>
    <%= f.text_area :other, size: '150x6' %>
  </p>

  <p>
    <%= f.label :any_notes? %><br>
    <%= f.text_area :notes, size: '150x6' %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
