<!DOCTYPE html>
<html>
  <head>
    <title>Groceries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !!flash[:errors] %>
      <ul class="errors-list">
        <% flash[:errors].each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    <% elsif !!flash[:success] %>
      <p class="success-message"<%= flash[:success] %>></p>
    <% end %>

    <%= yield %>
  </body>
</html>
